@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: ghostwhite;
}


.outer {
  background-color: dimgrey;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 3rem;
  padding: 4px;
  border: 2px;
}

.accordion-item {
  width: 100%;
}

.title {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2rem;
  background-color: grey;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

}

.text {
    font-weight: 900;
    font-size: 20px;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text > span {
  display: inline-block;
  vertical-align: middle;
}

.button {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.up > img, .down > img {
  width: 40%;
  height: auto;
}

.up, .down {
  margin-left: 3px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: ghostwhite;
  background-color: darkgrey;
  display: none;
  padding: 20px;
}