{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7 PPW</title>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
<div style="display: flex; justify-content: center;">
    <h2 style="align-self: center">Story 7</h2>
</div>
<div class="outer">
    <div class="accordion">
        <div class="accordion-item">
            <div class="title">
                <div class="text">
                    <span>Aktivitas saat ini</span>
                </div>
                <div class="button">
                    <a class="up">
                        <img src="{% static 'img/arrowup.png' %}" alt="up">
                    </a>
                    <a class="down">
                        <img style="transform: rotate(180deg)" src="{% static 'img/arrowup.png' %}" alt="down">
                    </a>
                </div>
            </div>
            <div class="content">
                Kuliah di Fakultas Ilmu Komputer Universitas Indonesia
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                <div class="text">
                    <span>Pengalaman organisasi / kepanitiaan</span>
                </div>
                <div class="button">
                    <div class="up">
                        <img src="{% static 'img/arrowup.png' %}" alt="up">
                    </div>
                    <div class="down">
                        <img style="transform: rotate(180deg)" src="{% static 'img/arrowup.png' %}" alt="down">
                    </div>
                </div>
            </div>
            <div class="content">
                lagi Nganggur di kuliah, kalau SMA dan SMP suka ikut jadi panitia acara, biasanya prodek
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                <div class="text">
                    Prestasi
                </div>
                <div class="button">
                    <div class="up">
                        <img src="{% static 'img/arrowup.png' %}" alt="up">
                    </div>
                    <div class="down">
                        <img style="transform: rotate(180deg)" src="{% static 'img/arrowup.png' %}" alt="down">
                    </div>
                </div>
            </div>
            <div class="content">
                saat kuliah belum ada, saat SMP dan SMA suka ikut lomba  di bidang fisika
            </div>
        </div>
        <div class="accordion-item">
            <div class="title">
                <div class="text">
                    Hobi
                </div>
                <div class="button">
                    <div class="up">
                        <img src="{% static 'img/arrowup.png' %}" alt="up">
                    </div>
                    <div class="down">
                        <img style="transform: rotate(180deg)" src="{% static 'img/arrowup.png' %}" alt="down">
                    </div>
                </div>
            </div>
            <div class="content">
                <div>
                    Bermain CS GO dan Dota 2
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
